//colors
$claret: #291026;
$brown: #0f0101;
$opacity-brown: rgba(15, 1, 1, 0.8);
$lighter-opactiy-brown: rgba(15, 1, 1, 0.3);
$red: #990000;
$light-red: #d69999;
$green: #329932;
$light-green: #add6ad;
$yellow: #ff9a2b;
$light-yellow: #feeac7;
$light: #fefdf3;

//font-sizes

$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-med-lg: 1.5rem;
$font-lg: 2.1rem;
$font-xlg: 3.5rem;
