@import "./sass/mixins";
@import "./sass/variables";
@import "./sass/animations";

//heading h1
header {
  h1 {
    font-size: $font-xlg;
    font-weight: 600;
    color: $claret;
    text-align: center;
    padding: 40px 0;

    @include breakpoint-down(small) {
      font-size: $font-lg;
      padding: 25px 0;
    }
  }
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  border: 2px solid $brown;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  @include breakpoint-down(small) {
    width: 95%;
    height: 450px;
  }
  background-color: $opacity-brown;

  &.smaller {
    height: 350px;

    @include breakpoint-down(small) {
      height: 250px;
    }
  }

  &.play-again {
    justify-content: center;
    height: 470px;

    @include breakpoint-down(small) {
      height: 350px;
    }
  }

  label,
  p {
    color: $light;
    font-size: $font-lg;
    padding-right: 1rem;
    @include breakpoint-down(small) {
      font-size: $font-med;
      padding-right: 0.5rem;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-container {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;

      @include breakpoint-down(small) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      &:focus-within {
        color: $light-yellow;
      }

      //input number
      &__number {
        position: relative;
        display: inline-block;
      }

      &__number__hover::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 3px;
        left: 50%;
        bottom: 0;
        background-color: $light-yellow;
        transition: all ease-in-out 0.3s;

        @include breakpoint-down(small) {
          height: 1.5px;
        }
      }

      &__number__hover:hover::after {
        width: 100%;
        left: 0;
      }

      &__number__hover:focus-within::after {
        width: 100%;
        left: 0;
      }
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .number-input {
    color: $light;
    border: none;
    text-align: center;
    background: none;
    font-size: $font-lg;
    font-weight: 200;
    width: 60px;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      color: $light-yellow;
    }

    &:hover {
      color: $light-yellow;
    }

    @include breakpoint-down(small) {
      font-size: $font-med;
      width: 30px;
    }
  }
}

//select

.select-input {
  display: inline-block;
  outline: none;
  font-size: $font-med;
  width: 130px;
  font-weight: 500;
  color: $light;
  padding: 0.6em 1.4em 0.5em 0.8em;
  border: 3px solid $brown;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $brown;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23feeac7%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, $brown 0%, $brown 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;

  @include breakpoint-down(small) {
    font-size: $font-sm;
    width: 100px;
  }
}
